.container {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  background-color: rgb(80, 80, 220);
  color: white;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px #454545;
}
h2 {
  text-align: center;
  text-shadow: 2px 2px 3px #454545;
}
p {
  text-align: center;
  margin: 4px 0;
  text-shadow: 1px 1px 2px #454545;
}
li {
  text-shadow: 1px 1px 2px #454545;
}
ul {
  list-style: none;
  padding-left: 10px;
}
.btn {
  --bs-btn-bg: #42505b;
  --bs-btn-hover-bg: #79828c;
  font-weight: bold;
}
.shadow-custom {
  box-shadow: 10px 5px 5px #3a366aa3;
}
