.container {
  max-width: 800px;
  margin-top: 30px;
  margin-left: 30px;
}
.card {
  background-color: rgb(80, 80, 220);
  color: white;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
